@page "/{Banned?}"
@using community.Data
@using community.Dtos
@inject GameListService GameListService
@inject NavigationManager NavigationManager
@using community.Utils
@inject IStringLocalizer<Home> Loc

<div class="row">
    <div class="col">
        <h1 class="open-title"><b>Open Video Game Data</b></h1>
        <p>@Loc["Subtitle"]</p>
    </div>
</div>

<div class="row">
    <div style="padding: 0.5em;">
        @if (pinnedLists == null)
        {
            <p><em>@Loc["Loading"]...</em></p>
        }
        else
        {
            if (Banned == "banned")
            {
                <h1><b>@Loc["Banned"]</b></h1>
            }
            <h2>@Loc["TrendingTitle"]</h2>
            <p class="open-sub-title">@Loc["TrendingSubtitle"]</p>
            <hr style="margin-bottom: 10px; margin-top: 0; position: relative; z-index: -999;"/>
            <GameLists FinalGameList="@pinnedLists" IsUserList="false"></GameLists>

            <h2 class="mt-5">@Loc["UserActivityTitle"]</h2>
            <p class="open-sub-title">@Loc["UserActivitySubtitle"]</p>
            <hr style="margin-bottom: 10px; margin-top: 0; position: relative; z-index: -999;"/>
            @foreach (var userActivity in userActivityList)
            {
                @if (userActivity.Activity == ActivityType.GameList)
                {
                    @if(userActivity.GameList is not null && userActivity.User is not null)
                    {
                        <div class="user-perfil-of-user-activity">
                            <div class="user-perfil-of-user-activity-picture">
                                <PixelEditor canEdit="@false" size="1" matrix="@userActivity.User.GetUserPicture()" userNickname="@userActivity.User.FullName" showLoading="true"/>
                            </div>
                            <div class="user-perfil-of-user-activity-name">
                                <div><a href="@userActivity.UserProfileUrl">@userActivity.User.FullName</a> @Loc["UserActivityDescriptionList"]:</div>
                                <div>"<a class="source-tag-a" href="@userActivity.GameListUrl">@userActivity.GameList.FinalGameList?.GetFullName()</a>" @(userActivity.DateAdded.ToNaturalLanguage<Home>(loc: Loc))</div>
                            </div>
                        </div>
                    }
                }
                @if (userActivity.Activity == ActivityType.Tracker)
                {
                    @if(userActivity.MostRecentTracker is not null && userActivity.User is not null)
                    {
                        <div class="user-perfil-of-user-activity">
                            <div class="user-perfil-of-user-activity-picture">
                                <PixelEditor canEdit="@false" size="1" matrix="@userActivity.User.GetUserPicture()" userNickname="@userActivity.User.FullName" showLoading="true"/>
                            </div>
                            <div class="user-perfil-of-user-activity-name">
                                <div><a href="@userActivity.UserProfileUrl">@userActivity.User.FullName</a> @Loc["UserActivityDescriptionTracker"]:</div>
                                <div>@Loc["UserActivityDescriptionTracker1"] @userActivity.ItemsTracked <a href="@(userActivity.UserProfileUrl + $"?trackStatus={(int)userActivity.MostRecentTracker.Status}")">@Loc["UserActivityDescriptionTracker2"]</a> @Loc["UserActivityDescriptionTimeTracker"] @(userActivity.DateAdded.ToNaturalLanguage<Home>(false, Loc))</div>
                            </div>
                        </div>
                    }
                }
            }

            <button class="btn btn-primary mt-3" @onclick="() => GotoCreateList()"><span class="oi oi-plus" aria-hidden="true"></span> @Loc["CreateYourList"]</button>

            <h2 class="mt-5">@Loc["AllGameListsTitle"]</h2>
            <p class="open-sub-title">@Loc["AllGameListsSubtitle"]</p>
            <hr style="margin-bottom: 10px; margin-top: 0; position: relative; z-index: -999;"/>
            <InputText disabled="@searching" class="form-control mb-3" @bind-Value="searchedList" @onblur="SearchList" @onkeydown="@PressedKey"/>

            @foreach (var tag in allTags)
            {
                <div class="tag">
                    @if (this.tagsToFilter.Contains(tag)) {
                        <button disabled="@searching" style="width: 120px;" class="btn btn-secondary" @onclick="() => FilterBy(tag)">@tag.FirstCharToUpper()</button>
                    } else {
                        <button disabled="@searching" style="width: 120px;" class="btn btn-primary" @onclick="() => FilterBy(tag)">@tag.FirstCharToUpper()</button>
                    }
                </div>
            }

            <ListsCategories Filters="@Filters"/>
        }
    </div>
</div>
<style>
    .open-sub-title {
        color: rgb(192, 192, 192);
        font-size: 0.9em;
    }

    .open-title {
        font-size: 2em;
    }

    .user-perfil-of-user-activity-picture {
        display: inline-block;
        margin-right: 0.5em;
    }

    .user-perfil-of-user-activity-name {
        display: inline-block;
        padding-bottom: 0.5em;
    }


    .tag {
        display: inline-block;
        padding: 0.1em;
    }
</style>
@code {

    [ParameterAttribute]
    public string? Banned { get; set; }
    private List<FinalGameList>? pinnedLists = new List<FinalGameList>();
    private List<UserActivityData> userActivityList = new List<UserActivityData>();
    public FilterListsCategory Filters { get; set; } = null;
    private int totalNumberOfGameLists = 0;
    private int totalNUmberOfUsers = 0;
    private string searchedList = "";
    private bool searching = false;
    private List<string> tagsToFilter = new List<string>();
    private List<string> allTags = new List<string>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.pinnedLists = GameListService.GetAllPinnedLists(userId: 0);
        this.userActivityList = GameListService.GetUserActivity();
        this.allTags = FilterListsCategory.GetTagsList();
    }

    private string GetUserPerfilUrl(User? user)
    {
        if (user is not null) {
            return $"/users/{user.Nickname}";
        }

        return "";
    }

    private string GetGameListUrl(long gameListId) {
        return $"/view-list/{gameListId}";
    }

    private void ViewList(string slug)
    {
        NavigationManager.NavigateTo($"/list/{slug}");
    }

    private void FilterBy(string tag = Tags.All) {
        if (tag == Tags.All) {
            this.tagsToFilter = new List<string> { Tags.All };
        } else {
            if (this.tagsToFilter.Contains(Tags.All)) {
                this.tagsToFilter.Remove(Tags.All);
            }

            if (this.tagsToFilter.Contains(tag)) {
                this.tagsToFilter.Remove(tag);
            } else {
                this.tagsToFilter.Add(tag);
            }
        }

        if (!this.tagsToFilter.Any()) {
            this.tagsToFilter.Add(Tags.All);
        }

        this.GetAllLists();
    }

    private void GotoCreateList() {
        NavigationManager.NavigateTo("/users/lists/new");
    }

    private void GetAllLists(int page = 1, string searchedListText = "")
    {
        Filters = new FilterListsCategory(page, 6, 5, this.tagsToFilter, searchedListText);
    }

    private void SearchList()
    {
        GetAllLists(1, searchedList);
    }

    private void PressedKey(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
            GetAllLists(1, searchedList);
    }
}