@page "/video-game-history"
@inject GameListService gameListService;
@inject IStringLocalizer<Timeline> Loc

<PageTitle>@Loc["VideoGameHistory"]</PageTitle>
<HeadContent>
    <meta name="description" content="@Loc["Knowabouthistory"]">
</HeadContent>

<h1>@Loc["VideoGameHistory"]</h1>
<p>@Loc["Concept"]</p>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

<h2>@Loc["Gen1Title"]</h2>
<p>@Loc["Gen1Description"]</p>
<GameLists FinalGameList="@FirstGenGames"></GameLists>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

<h2>@Loc["Gen2Title"]</h2>
<p>@Loc["Gen2Description"]</p>
<GameLists FinalGameList="@SecondGenGames"></GameLists>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

<h2>@Loc["Gen3Title"]</h2>
<p>@Loc["Gen3Description"]</p>
<GameLists FinalGameList="@ThirdGenGames"></GameLists>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

<h2>@Loc["Gen4Title"]</h2>
<p>@Loc["Gen4Description"]</p>
<GameLists FinalGameList="@FourthGenGames"></GameLists>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

<h2>@Loc["Gen5Title"]</h2>
<p>@Loc["Gen5Description"]</p>
<GameLists FinalGameList="@FifthGenGames"></GameLists>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

<h2>@Loc["Gen6Title"]</h2>
<p>@Loc["Gen6Description"]</p>
<GameLists FinalGameList="@SixthGenGames"></GameLists>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

<h2>@Loc["Gen7Title"]</h2>
<p>@Loc["Gen7Description"]</p>
<GameLists FinalGameList="@SeventhGenGames"></GameLists>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

<h2>@Loc["Gen8Title"]</h2>
<p>@Loc["Gen8Description"]</p>
<GameLists FinalGameList="@EighthGenGames"></GameLists>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

<h2>@Loc["Gen9Title"]</h2>
<p>@Loc["Gen9Description"]</p>
<GameLists FinalGameList="@NinthGenGames"></GameLists>
<hr style="margin-bottom: 10px; margin-top: 20; position: relative; z-index: -999;"/>

@code {
    public List<FinalGameList> FirstGenGames { get; set; } = new List<FinalGameList>();
    public List<FinalGameList> SecondGenGames { get; set; } = new List<FinalGameList>();
    public List<FinalGameList> ThirdGenGames { get; set; } = new List<FinalGameList>();
    public List<FinalGameList> FourthGenGames { get; set; } = new List<FinalGameList>();
    public List<FinalGameList> FifthGenGames { get; set; } = new List<FinalGameList>();
    public List<FinalGameList> SixthGenGames { get; set; } = new List<FinalGameList>();
    public List<FinalGameList> SeventhGenGames { get; set; } = new List<FinalGameList>();
    public List<FinalGameList> EighthGenGames { get; set; } = new List<FinalGameList>();
    public List<FinalGameList> NinthGenGames { get; set; } = new List<FinalGameList>();

    protected override void OnInitialized() {
        var genIds = new Dictionary<int, List<long>>
        {
            { 1, new List<long> { /* IDs for 1st gen games */ } },
            { 2, new List<long> { 4 /*, other IDs for 2nd gen games */ } },
            { 3, new List<long> { 5, 57 /* IDs for 3rd gen games */ } },
            { 4, new List<long> { 7, 6, 69 /* IDs for 4th gen games */ } },
            { 5, new List<long> { 8, 9, 65 /* IDs for 5th gen games */ } },
            { 6, new List<long> { 10, 11, 12, 13, 72 /* IDs for 6th gen games */ } },
            { 7, new List<long> { 16, 15, 14, 70, 71 /* IDs for 7th gen games */ } },
            { 8, new List<long> { 19, 87, 20, 18, 17, 56, 21, 75, 88 /* IDs for 8th gen games */ } },
            { 9, new List<long> { 23, 22, 59, 54, 82 /* IDs for 9th gen games */ } }
        };

        foreach (var gen in genIds)
        {
            foreach (var id in gen.Value)
            {
                var finalGameList = gameListService.GetById(id);
                if (finalGameList != null)
                {
                    switch (gen.Key)
                    {
                        case 1:
                            FirstGenGames.Add(finalGameList);
                            break;
                        case 2:
                            SecondGenGames.Add(finalGameList);
                            break;
                        case 3:
                            ThirdGenGames.Add(finalGameList);
                            break;
                        case 4:
                            FourthGenGames.Add(finalGameList);
                            break;
                        case 5:
                            FifthGenGames.Add(finalGameList);
                            break;
                        case 6:
                            SixthGenGames.Add(finalGameList);
                            break;
                        case 7:
                            SeventhGenGames.Add(finalGameList);
                            break;
                        case 8:
                            EighthGenGames.Add(finalGameList);
                            break;
                        case 9:
                            NinthGenGames.Add(finalGameList);
                            break;
                    }
                }
            }
        }
    }
}