@page "/top-contributors"
@inject UserService _userService
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject IStringLocalizer<UserPage> Loc


<PageTitle>Top Contributors</PageTitle>
<HeadContent>
    <meta name="description" content="top contributors of our community">
</HeadContent>

<div>

    <div class="row">
        <div class="col">
            <div class="mb-3">
                <h1>
                    Top Contributors
                </h1>
            </div>
        </div>
    </div>

    @if(loading)
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else
    {
        @if (users != null)
        {
            @foreach (var user in users.Select((value, i) => new { i, value }))
            {
                <div class="top-container">
                    <div class="top-item-position">
                        <div style="font-size: 28px;">
                            @if (user.i == 0)
                            {
                                @($"🥇.")
                            }
                            else if (user.i == 1)
                            {
                                @($"🥈.")
                            }
                            else if (user.i == 2)
                            {
                                @($"🥉.")
                            }
                            else
                            {
                                @($"{user.i+1}.")
                            }
                        </div>
                    </div>
                    <div class="top-item-picture">
                        <PixelEditor canEdit="@false" size="1" matrix="@user.value.GetUserPicture()" userNickname="@user.value.FullName" showLoading="true"/>
                    </div>
                    <div class="top-item-name">
                        <div><a href="/users/@user.value.Nickname">@user.value.FullName</a></div>
                    </div>
                    <div class="top-item-total">
                        <div>(@user.value.GameListsContributed.Count)</div>
                    </div>
                </div>
            }
        }
    }
</div>

<style>
    .top-container {
        display: flex;
        margin-right: 0.5em;
        gap: 10px 30px;
    }

    .top-item-position {
        width: 55px;
    }

    .top-item-total {
        width: 5px;
    }
</style>

@code {
    private IList<User> users;
    private bool loading = true;
    
    protected override async Task OnParametersSetAsync()
    {
        loading = true;
        users = await _userService.GetTopContributors();
        loading = false;
    }
}