@page "/about"
@inject IStringLocalizer<About> Loc

<PageTitle>Open Video Game Data - About</PageTitle>
<HeadContent>
    <meta name="description" content="Get to know us better â¤ï¸ðŸŽ®">
</HeadContent>

<h1>About</h1>
<h2 class="about-title">@Loc["WhatIsObjective"]</h2>
<p>
    @Loc["ObjectiveDescription"]
</p>
<h2 class="about-title">@Loc["IsProfit"]</h2>
<p>
    @Loc["ProfitDescription"]
</p>
<h2 class="about-title">@Loc["HowData"]</h2>
<p>
    @Loc["DataDescription"]
</p>
<h2 class="about-title">@Loc["HowCompare"]</h2>
<p>
    @Loc["CompareDescription"]
</p>
<h2 class="about-title">@Loc["Who"]</h2>
<p>
    @Loc["WhoDescription"]
</p>
<h2 class="about-title">@Loc["WhatRules"]</h2>
<p>
    @Loc["RulesDescription"]
</p>
<h2 class="about-title">@Loc["HowContribute"]</h2>
<p>@Loc["ToAggregate"]</p>
<ul>
    <li>@Loc["ToAggregateStep1"]</li>
    <li>@Loc["ToAggregateStep2"]</li>
    <li>@Loc["ToAggregateStep3"]</li>
    <li>@Loc["ToAggregateStep3_2"]</li>
    <li>@Loc["ToAggregateStep4"]</li>
    <li>@Loc["ToAggregateStep5"]</li>
    <li>@Loc["ToAggregateStep6"]</li>
    <li>
        @Loc["ToAggregateStep7_1"] <b>@Loc["more"]</b> @Loc["ToAggregateStep7_2"] 
        <b>@Loc["ToAggregateStep7_3"]</b> @Loc["ToAggregateStep7_4"] <b>@Loc["less"]</b> @Loc["ToAggregateStep7_5"] <b>@Loc["ToAggregateStep7_6"]</b>.
    </li>
    <li>@Loc["ToAggregateStep8"]</li>
    <li>@Loc["ToAggregateStep9"]</li>
    <li>@Loc["ToAggregateStep10"]</li>
    <li>@Loc["ToAggregateStep11"]</li>
</ul>
<style>
    .about-title {
        margin-top: 1.5em;
    }
</style>
