@if (!string.IsNullOrEmpty(src))
{
    <img class="game-card-cover" style="@style" src="@src" alt="@alt" title="@alt" height="@height" width="@width">
}
else
{
    <div class="game-card-cover center" style="width: @(width)px; height: @(height)px; @style"><small>@alt</small></div>
}

<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green; 
}
</style>

@code {
    [Parameter]
    public string src { get; set; }
    [Parameter]
    public string alt { get; set; }
    [Parameter]
    public string height { get; set; }
    [Parameter]
    public string width { get; set; }
    [Parameter]
    public string style { get; set; }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(src) || src.Contains("/.jpg"))
            src = "";
    }
}