@using community.Data
@inject NavigationManager NavigationManager
@inject UserService _userService
@inject GameListService _gameListService
@using community.Utils
@inject IStringLocalizer<GameLists> Loc

<div>
    @if (FinalGameList is not null) {
        @foreach (var item in FinalGameList)
        {
            <div class="pinned-list">
                <div class="cursor-pointer" @onclick="() => ViewList(item.Slug)">
                    @foreach (var gameWinner in @item.TopThreeWinners)
                    {
                        <GameCover src="@gameWinner.CoverImageUrl" alt="@gameWinner.GameTitle" height="112" width="83" />
                    }
                </div>
                <a class="pinned-list-title" href="/list/@item.Slug"><b>@item.Title @item.Year</b></a>

                @if (!IsUserList) {
                    <p class="pinned-list-info">@Loc["Basedon"] <b>@item.NumberOfSources</b> @Loc["List"]@(item.NumberOfSources > 1 ? "s" : "") - @item.NumberOfGames @Loc["Game"]s</p>
                }
            </div>
        }
    }

    @if (GameList is not null) {
        @foreach (var gameList in GameList)
        {
            <div class="pinned-list">
                <div class="cursor-pointer" @onclick="() => ViewGameList(gameList.Id)">
                    @if (gameList.Items.Any()) {
                        @foreach (var item in gameList.Items.OrderBy(item => item.Position).Take(4).ToList())
                        {
                            <GameCover src="@item.Game.CoverImageUrl" alt="@item.Game.Title" height="112" width="83" />
                        }
                    } else {
                        @foreach (var i in Enumerable.Range(0,4)) {
                            <GameCover src="https://images.igdb.com/igdb/image/upload/t_cover_big/nocover.png" height="112" width="83" />
                        }
                    }
                </div>
                <a class="pinned-list-title" href="/view-list/@gameList.Id"><b>@gameList.FinalGameList.Title @gameList.FinalGameList.Year</b></a>
                <p class="pinned-list-info">@Loc["Created"] @(TimeHelper.ToNaturalLanguage<GameLists>(gameList.DateAdded, loc: Loc)) - @gameList.Items.Count @Loc["Game"]s</p>
            </div>
        }
    }
</div>
<style>

</style>

@code {
    [Parameter]
    public List<FinalGameList>? FinalGameList { get; set; } = null;
    [Parameter]
    public List<GameList>? GameList { get; set; } = null;
    [Parameter]
    public bool IsUserList { get; set; } = false;
    [Parameter]
    public string? Nickname { get; set; } = "";

    private void ViewGameList(long gameListId)
    {
        NavigationManager.NavigateTo($"/view-list/{gameListId}");
    }

    private void ViewList(string slug)
    {
        NavigationManager.NavigateTo($"/list/{slug}");
    }
}