@if (trackerStatsViewModel.None != listSize) {
    <p class="tracker-stats">
        <span class="oi oi-vertical-align-bottom" aria-hidden="true"></span>
        <b>Tracker Stats: </b> 
        @(trackerStatsViewModel.ToPlay != 0 ? $"To Play: {GetPorcentage(trackerStatsViewModel.ToPlay)}"  : (hideZeroed ? "" : "To Play: 0%"))
        @(trackerStatsViewModel.Playing != 0 ? $" - Playing: {GetPorcentage(trackerStatsViewModel.Playing)}"  : (hideZeroed ? "" : " - Playing: 0%"))
        @(trackerStatsViewModel.Played != 0 ? $" - Played: {GetPorcentage(trackerStatsViewModel.Played)}"  : (hideZeroed ? "" : " - Played: 0%"))
        @(trackerStatsViewModel.Beated != 0 ? $" - Beaten: {GetPorcentage(trackerStatsViewModel.Beated)}"  : (hideZeroed ? "" : " - Beated: 0%"))
        @(trackerStatsViewModel.Abandoned != 0 ? $" - Abandoned: {GetPorcentage(trackerStatsViewModel.Abandoned)}"  : (hideZeroed ? "" : " - Abandoned: 0%"))
    </p>
}
<style>
    .tracker-stats {
        margin-top: 1em;
        margin-bottom: 2em;
    }
</style>

@code {
    [Parameter]
    public TrackerStatsViewModel trackerStatsViewModel { get; set; }

    [Parameter]
    public int listSize { get; set; }

    [Parameter]
    public bool hideZeroed { get; set; } = true;

    private string GetPorcentage(int count) {
        if (count <= 0 || listSize <= 0) return "";

        var result = ((double)count / (double)listSize) * 100;
        return $"{((int)result).ToString()}%";
    }
}